# -------------------
# 1. PHP Backend
# -------------------
apiVersion: v1
kind: Service
metadata:
  name: php-service
spec:
  ports:
    - port: 9000
  selector:
    app: hrm-php
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-php
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hrm-php
  template:
    metadata:
      labels:
        app: hrm-php
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: php
          # [중요] 본인 ECR 주소인지 꼭 확인!
          image: 361769563558.dkr.ecr.ap-northeast-2.amazonaws.com/hrm-repo:php
          imagePullPolicy: Always
          env:
            - name: DB_HOST
              value: "mariadb-service"
            - name: MINIO_HOST
              value: "minio-service"
            - name: MINIO_PUBLIC_URL
              value: "http://localhost:9000/hrm-profile"
---
# -------------------
# 2. Nginx Frontend
# -------------------
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  ports:
    - port: 8080
  selector:
    app: hrm-nginx
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrm-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hrm-nginx
  template:
    metadata:
      labels:
        app: hrm-nginx
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: nginx
          # [중요] 본인 ECR 주소인지 꼭 확인!
          image: 361769563558.dkr.ecr.ap-northeast-2.amazonaws.com/hrm-repo:nginx
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
